body {
	user-select:none;
	color:white;
	background:black;
	margin:0;
	padding:0;
	text-align:center;
}
*{ box-sizing:border-box; }
#app {
	box-sizing:border-box;
	display:inline-block;
	text-align:left;
	width:100vmin;
	height:100vh;
	border:2px double white;
	
}
.d-none {display:none !important;}
.v-hidden {visibility:hidden !important;}

.w-50 {width:50%;}
.w-100 {	width:100%;}

.flex-row {display:flex;flex-direction:row;}

.flex-column {display:flex;flex-direction:column;}
.flex-align-start {align-items: flex-start;}
.flex-align-end {align-items: flex-end;}
.flex-align-center {align-items: center;}

.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-center {justify-content: center;}

.a-blinking-opacity {
	animation-name: blinking-opacity;
	animation-duration: 1.3s;
	opacity:1;
	animation-iteration-count: infinite;
}

@keyframes blinking-opacity {
  50% {
	opacity:0.1;
  }
}


.a-tilt-shake {
	animation: tilt-shake 0.12s cubic-bezier(.36,.07,.19,.97) both;
	animation-iteration-count: 2;
}

@keyframes tilt-shake {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(10deg); }
	50% { transform: rotate(0eg); }
	75% { transform: rotate(-10deg); }
	100% { transform: rotate(0deg); }
}

.a-floating {
	transform: translatey(0px);
	-webkit-animation: float 3s ease-in-out infinite;
	animation: float 3s ease-in-out infinite;
}

@-webkit-keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}







.loading_wrapper {
	display:flex;
	flex-direction:column;
	align-items:flex-center;
	height:100%;
	width:100%;
	justify-content: center;
}


.bars {
	display:flex;
	justify-content: space-around;
}
.bars .bar_wrapper {
	flex-direction:column;
	width:100%;
	margin:0.5%;
}
.bar_wrapper {
	border:2px solid white;
	display:flex;
	flex-direction:column;
	padding:3px;
	background:black;
	max-height:36px;
}
.bar_wrapper .fill{
	display:flex;
	flex-direction:column;
	align-items: flex-end;
	transition: width 0.5s ease;
}


.bar_wrapper .fill .cost{
	align-items: flex-end;
	
	height:12px;
	
	/* background:repeating-linear-gradient(
		45deg,
		transparent,
		transparent 5px,
		#000 5px,
		#000 10px
	); */
	background:black;
	transition: width 0.25s ease;
	
}

.bar_wrapper.power .cost{
	background:repeating-linear-gradient(
		90deg,
		transparent,
		transparent 6px,
		#000 6px,
		#000 8px
	);
}
.app_container .loading {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}


.app_container {
	display:flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction:column;
	height: 100%;
}


.main_container {
	width:100%;
	height:100%;
	flex-grow:2;
	
	display:flex;
	align-items: center;
	justify-content: center;
	
}

.nav_container {
	width:100%;
	flex-shrink:2;
	position:relative;
}
.nav_container .nav_inner {
	position:absolute;
	bottom:0;
	width:100%;
}


.prev_next_nav {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}


.prev_next_nav .button {
	min-width:0;
}


.menu {
	width:50%;
	/*border:2px solid white;*/
	display:flex;
	flex-direction:column;
	align-items: center;
}
.menu .button {
	max-width:50%;
	min-width:200px;	
}
.character_creation_wrapper {
	display:flex;
	flex-direction:column;
	align-items: center;
	width:auto;
	height:100%;
}
.button {
	border:2px solid white;
	border-radius:7px;
	cursor:pointer;
	padding:7px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:7px;
}
.button.highlighted {
	border-color:#00e676;
}
.borderless {
	border-color:transparent;
}
.button .img_wrapper {
	display:flex;
}
.button .img_wrapper img{
	height:7vmin;
	width:7vmin;
	background-color: white;
}

.option_select {
	position:relative;
}
.option_select .dropdown {
	position:absolute;
	padding:5px;
	background:black;
	border:1px solid white;
	z-index:5;
	width:calc(12px + 3*7vmin + 3*2*16px);
	flex-wrap:wrap;
}
.option_select .dropdown_toggle .button {
	border-style:dashed;
}


.separator { /* "default" button dimensions */
	width:calc(7vmin + 2*16px);
	height:calc(7vmin + 2*16px);
}
.separator-half { /* hlaf "default" button dimensions */
	width:calc(3.5vmin + 16px);
	height:calc(3.5vmin + 16px);
}

.game_map_wrapper {
	max-height:100vmin;
	overflow:auto;
}